@import "compass/css3";
@import "compass/css3/user-interface";

.select-picker {
  font-size: 12px;
  position: relative;
  display: inline-block;
  zoom: 1;

  &>.select-picker-drop {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    box-shadow: 0 4px 5px rgba(0,0,0,0.15);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    // @include transition(visibility 0.3s ease, opacity 0.3s ease);
    // fix bug: width is 100% - 2px
    @include box-sizing('border-box')
  }

  &>a {
    padding-top: 4px;
    height: 34px;
    // &:focus { outline: 0 }
  }

  &>.select-picker-single {
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    box-shadow: 0 0 3px #fff inset,0 1px 1px rgba(0,0,0,0.1);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 8px;
    color: #444444;
    text-decoration: none;
    cursor: pointer;
    @include user-select(none);

    &>.select-picker-title {
      margin-right: 26px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    &>.select-picker-direct {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      height: 100%;
      width: 15px;
    }
  }

  .select-picker-search {
    padding: 3px 4px;
    position: relative;
    margin: 0;
    white-space: nowrap;
    z-index: 3;

    &>.fa.fa-search {
      position: absolute;
      right: 15px;
      top: 15px;
      color: #aaa;
    }

    &>input {
      background: #fff;
      background: linear-gradient(top,#eee 1%,#fff 15%);
      margin: 1px 0;
      padding: 7px 30px 7px 10px;
      font-size: 1em;
      width: 100%;
      @include box-sizing('border-box')
    }
  }

  .select-picker-results {
    margin: 4px 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    li {
      display: none;
      cursor: pointer !important;
      line-height: 15px;
      padding: 5px 6px;
      margin: 0;
      list-style: none;
      text-align: -webkit-match-parent;

      &.result {
        cursor: pointer;
        display: list-item;

        &>.title {
          cursor: inherit;
          padding: 4px 6px;
          white-space: nowrap;
          display: inline-block;
        }
      }

      &.selected {
        background-color: #cccccc;
        background-image: linear-gradient(top, #cccccc 20%, #cccccc 90%);
        color: #fff;
      }
      &.highlighted {
        background-color: #3e91ee;
        background-image: linear-gradient(top, #3e91ee 20%, #3e91ee 90%);
        color: #fff;
      }
    }
  }
}

.select-picker-active {
  .select-picker-single {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border: 1px solid #5897fb;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
  }

  .select-picker-single-with-drop {
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 #fff inset;
    background-color: #eee;
    background-image: linear-gradient(top,#eee 20%,#fff 80%);

    div {
      background: transparent;
      border-left: none;
    }
  }

  .select-picker-drop {
    visibility: visible;
    opacity: 1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
